@media (max-width:705px) {
    .banner-heading{
        font-size: 70px !important;
    }
}
@media (max-width:505px) {
    .banner-heading{
        font-size: 50px !important;
    }
}
@media (max-width:370px) {
    .banner-heading{
        font-size: 38px !important;
    }
}

/* !Important is neccesary because of a bug with netlify*/

.banner-container{
    height: 650px;
    background-image: url('https://i.ibb.co/nbk9VLn/Group-2.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.banner-content{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-heading{
    font-family: Shantell Sans !important;
    font-size: 96px;
    color: white;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.32);
    margin-bottom: 25px !important;
}

.banner-discount{
    color: white;
    font-weight: 700;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.32);
    margin-bottom: -5px !important;
}
.banner-discount-bottom{
    color: white;
    font-weight: 400;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.242);
}
.banner-code{
    color: #FFFBEB;
    font-weight: 400;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.235);
    margin-top: 35px !important;
    margin-bottom: -3px !important;
}
.banner-code-bottom{
    color: #FFFBEB;
    font-weight: 400;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.235);
    margin-bottom: -3px !important;
}

/* .banner-button{
    margin-top: 40px !important;
    height: 50px !important;
    width: 150px !important;
    border-radius: 100px !important;
    color: #F8CBA6 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
} */

.banner-button {
    margin-top: 40px;
    background-color: #FFFBEB;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-family: League Spartan !important;
    font-weight: 400;
    width: 10em;
    border-radius: 1rem;
    color: #F8CBA6;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    cursor: pointer;
    border-radius: 30px;
    border: solid 2px;
   }
   
.banner-button:active {
    color: #FFFBEB;
    box-shadow: 0 0.2rem #c5c1c1;
    transform: translateY(0.2rem);
   }
   
.banner-button:hover:not(:disabled) {
    background: #F8CBA6;
    color: #FFFBEB;
    text-shadow: 0 0.1rem #9d9b9b;
   }

.banner-button:disabled {
    cursor: auto;
    color: grey;
   }