@media (max-width: 880px) {
    .store-select-boy, .store-select-girl{
        width: 100% !important;
        height: 350px !important;
    }
}
@media (max-width: 485px) {
    .store-select-boy-text, .store-select-girl-text{
        font-size: 50px !important;
    }
    .store-select-boy, .store-select-girl{
        height: 300px !important;
    }
}
.store-select-container{
    height: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.store-select-boy, .store-select-girl{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 0px 0px 6px rgba(98, 98, 98, 0.32);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.store-select-boy {
    background-color: #ECF9FF;
    background-image: url('https://i.ibb.co/Qmd60s7/BOYS.png');
}
.store-select-girl{
    background-color: #FFF1F5;
    background-image: url('https://i.ibb.co/6DjB80H/GIRLS.png');
}

.store-select-boy:hover, .store-select-girl:hover{
    transition: ease 0.2s;
    scale: 1.005;
}


.store-select-boy-text, .store-select-girl-text{
    align-self: center;
    font-family: Shantell Sans !important;
    color: white;
    font-weight: 400;
}

